<div class="container-fluid py-3">
  <div class="row">
  	  <div class="loginmodal-container">
  		<div class="loginmodal-container-2 form-select form-select-dob">
  				<h1>Definições</h1>
              <%= form_for @user do |f| %>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-addon" id="NIF">IVA*</span>
               <%= f.number_field :vat, class:"form-control form-control-md", min: 0, max: 100, required: true, :aria => {:label => 'NIF', :describedby => "NIF" }%>
              </div>
              <div class="input-group input-group-sm mb-3">
              <span class="input-group-addon" id="Notas">Rodapé do orçamento</span>
               <%= f.text_area :notes, class:"form-control form-control-md", :aria => {:label => 'Notas', :describedby => "Notas" }%>
              </div>
              <%= f.submit "Actualizar", class: "login loginmodal-button loginmodal-submit" %>
      			<% end %>
      			<div class="mb-2">
      			  <center>
                <%= link_to "Exportar clientes", clients_path('csv'), target: :blank, class:"btn btn-primary" %>
                <%= link_to "Exportar artigos", products_path('csv'), target: :blank, class:"btn btn-primary" %>
      			  </center>
            </div>
  				  <center>
  				    <a href="<%= edit_user_registration_path %>" class="btn btn-primary">Alterar password</a>
  				  <center>  
  				</div>
  			</div>	
  		</div> 
  </div>
</div>

