<div class="container py-4">
          
  <div class="row">
      <div class="col-md-12">
          <h3>Estatísticas</h3>
      </div>
  </div>
  
  <section class="blocks">
      <div class="row mb-4">
         <div class="col-6 col-sm-3 mb-2">
          <a href="/clients">
          <div class="card">
              <div class="card-body">
                  <center>
                    <i class="fas fa-user fa-2x"></i>
                       <h4>Clientes</h4>
                          <h3 class="mb-0"><%= Client.count %></h3>
                  </center>
              </div>
          </div>
          </a>
      </div>
      <div class="col-6 col-sm-3 mb-2">
        <a href="/products">
          <div class="card">
              <div class="card-body">
                  <center>
                    <i class="fas fa-store fa-2x"></i>
                       <h4>Artigos</h4>
                          <h3 class="mb-0"><%= Product.count %></h3>
                  </center>
              </div>
          </div>
        </a>  
      </div>
      <div class="col-6 col-sm-3 mb-2">
        <a href="/orders">
          <div class="card">
              <div class="card-body">
                  <center>
                    <i class="fas fa-cart-plus fa-2x"></i>
                       <h4>Trabalhos</h4>
                          <h3 class="mb-0"><%= Order.count %></h3>
                  </center>
              </div>
          </div>
        </a>  
      </div>
      <div class="col-6 col-sm-3 mb-2">
        <a href="/jobs">
          <div class="card">
              <div class="card-body">
                  <center>
                    <i class="fas fa-cart-plus fa-2x"></i>
                       <h4>Outros serviços</h4>
                          <h3 class="mb-0"><%= Job.count %></h3>
                  </center>
              </div>
          </div>
        </a>  
      </div>
      <br><br><br>
      <div class="col-6 col-sm-3 mb-2">
        <a href="<%= new_order_path %>">
          <div class="card">
              <div class="card-body">
                  <center>
                    <i class="fas fa-plus fa-2x"></i>
                       <h4>Nova Encomenda</h4>
                  </center>
              </div>
          </div>
        </a>  
      </div>
          
     </div>
  </section>
  
  <div class="row">
      <div class="col-md-12">
          <h3>Total EM STOCK</h3>
      </div>
  </div>
  
  <section class="blocks">
      <div class="row mb-4">
         <div class="col-6 col-sm-3 mb-2">
          <a href="<%= products_path(term: "frame") %>">
          <div class="card">
              <div class="card-body">
                  <center>
                       <i class="fas fa-cubes fa-2x icon-color"></i>
                       <h4>Molduras</h4>
                          <h3 class="mb-0"><%= Product.frame.count %></h3>
                  </center>
              </div>
          </div>
          </a>
      </div>
      <div class="col-6 col-sm-3 mb-2">
        <a href="<%= products_path(term: "passe_partout") %>">
          <div class="card">
              <div class="card-body">
                  <center>
                    <i class="far fa-object-ungroup fa-2x icon-color"></i>
                       <h4>Passe-partout</h4>
                          <h3 class="mb-0"><%= Product.passe_partout.count %></h3>
                  </center>
              </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-sm-3 mb-2">
        <a href="<%= products_path(term: "accessory") %>">
          <div class="card">
              <div class="card-body">
                  <center>
                    
                    <i class="fas fa-puzzle-piece fa-2x icon-color"></i>
                       <h4>Acessórios</h4>
                          <h3 class="mb-0"><%= Product.accessory.count %></h3>
                  </center>
              </div>
          </div>
        </a>
      </div>
          
     </div>
  </section>
    <div class="table-responsive">
        <table class="table table-bordered bg-white">
          <thead>
              <th>Identificador</th>
              <th>Tipo</th>
              <th>Quantidade em stock</th>
          </thead>
          <tbody>
          <% Product.where('stock <= ?', 6).each do |fr| %>
            <tr>
              <td><%= fr.product_code %></td>
              <td><%= I18n.t(fr.kind.to_sym) %></td>
              <td><%= fr.stock %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
</div>



