<header id="header" class="header-narrow">
	<div class="header-body">
		<div class="header-container container">
			<div class="header-row">
				<div class="header-column">
					<div class="header-row">
						<div class="header-logo">
							<a href="/" style="text-decoration:none;">
								<img class="img-fluid" src="/g-logo.png">
							</a>
						</div>
					</div>
				</div>
				<div class="header-column justify-content-end">
					<div class="header-row">
						<div class="header-nav">
							<div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
								<nav class="collapse">
									<ul class="nav nav-pills" id="mainNav">
                      <li class="">
                        <a class="nav-link active" href="<%= root_path %>">Dashboard <span class="sr-only">(current)</span></a>
                      </li>
                      <% if not user_signed_in? %>
                      <li class="">
                          <a class="nav-link" href="<%= new_user_session_path %>">Iniciar sessão</a>
                      </li>
                      <% end %>
                        <% if user_signed_in? %>
                      
                          <!--<li class="">-->
                          <!--  <a class="nav-link" href="<%#= edit_user_registration_path %>">Settings</a>-->
                          <!--</li>-->
                          
                          <% if current_user.admin %>
                            <!--<li class="">-->
                            <!--  <a class="nav-link" href="<#%= admin_path %>">Admin Dashboard</a>-->
                            <!--</li>-->
                          <% else %>
                            <li class="">
                              <a class="nav-link" href="<%= dashboard_path %>">Dashboard</a>
                            </li>
                          <% end %>
                          <li class="dropdown">
														<a class="dropdown-item dropdown-toggle" href="/clients">
															Clientes
														</a>
														<ul class="dropdown-menu">
															<li><a class="dropdown-item" href="/clients/new">Novo Cliente</a></li>
														</ul>
													</li>
													<li class="dropdown">
														<a class="dropdown-item dropdown-toggle" href="/products">
															Artigos
														</a>
														<ul class="dropdown-menu">
															<li><a class="dropdown-item" href="/products/new">Novo Artigo</a></li>
														</ul>
													</li>
													<li class="dropdown">
														<a class="dropdown-item dropdown-toggle" href="/orders">
															Encomendas
														</a>
														<ul class="dropdown-menu">
															<li><a class="dropdown-item" href="/orders/new">Novo Encomenda</a></li>
														</ul>
													</li>
													<li class="dropdown">
														<a class="dropdown-item dropdown-toggle" href="/jobs">
															Outros Serviços
														</a>
														<ul class="dropdown-menu">
															<li><a class="dropdown-item" href="/jobs/new">Criar novo registo</a></li>
														</ul>
													</li>

                         
                          <li class="">
                            <a class="nav-link" href="<%= edit_user_path(current_user) %>">Definições</a>
                          </li>
                          <% if user_signed_in? %>
                          <li class=""> 
                                <a class="nav-link" href="<%= destroy_user_session_path %>" data-method="delete">Terminar sessão</a>
                            <% else %>
                              <!--<a class="nav-link" href="<%#= new_user_registration_path %>">Sign Up</a>-->
                          </li>
                          <% end %>
                          
                          
                        <% end %>
                      <!--<li class="">-->
                      <!--  <a class="nav-link disabled" href="#">Disabled</a>-->
                      <!--</li>-->
            		</ul>
								</nav>
							</div>
							<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
								<i class="fa fa-bars"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>