<!DOCTYPE html>
<html class="">
  <head>
    <title>Gravomar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name= viewport content= width=device-width initial-scale=1>
  </head>

  <body>
    <div class="body" style="min-height:100vh; background:#f9f9f9; padding-bottom:50px;">
    <%# unless params[:controller]=='home' && params[:action]=='admin' %>
      <%= render 'layouts/header' %>
      <% if notice || alert %>
        <!--<div class="alert alert-info" role="alert">-->
          <!--<strong>Info!</strong> <%#= notice || alert %>-->
          <script type="text/javascript">
            toastr["info"]("<%= notice || alert %>")
          </script>
        <!--</div>-->
      <% end %>
      <div class="container-fluid main" style="padding:0;">
          <div role="main" class="main">
      <% unless params[:controller]=='home' && params[:action]=='admin' %>
      <% end %>  
        <%= yield %>
    <% unless params[:controller]=='home' && params[:action]=='admin' %>
      </div>
      </div>
    <% end %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
